<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
<h1>Welcome, <%= @user.email %> </h1>
<% end %>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
<form action="/users" method="post">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Sign up" />
</form>