body {
  font-family:'Trebuchet MS', sans-serif; 
  text-align:center;
}

.nav-bar {
  height: 80px;
}

.welcome-message {
  text-align: left;
}

.auth-button {
  float: right;
  margin-right: 20px;
}

h1 {
  color:red; 
  padding:60px 0px 0px 0px; 
  font-size:100px;
  margin-bottom:0;
  padding:75px; 
  font-size:100px;
}

h2 {
  padding:0px 0px 40px 0px; 
  font-size:30px; 
  margin-top:0}

.button {
  background-color:black; 
  border:none; 
  color:white; 
  padding:15px 32px; 
  text-align:center; 
  font-size:18;
}

input {
  padding: 13px 40px; 
  text-align: center; 
  font-size: 14px;
}

.listing {
  border:1px; 
  border-style:solid; 
  border-color:#B8B8B8; 
  padding: 20px; 
  width:50%; 
  margin:1% 24% 1% 24%}


.listing_name {
  font-size:150%; 
  font-weight: bold; 
  color:grey; 
  text-align: left;
}

