<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
<h2> Your space is saved!</h2>
<form action="/spaces" method="GET">
  <input class=button type="submit" value="Show All Listings">
</form>
</body>
</html>
