<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <title>Create a Space</title>
</head>
<body>
<h1> NapLand </h1>
<h2> Please enter the details of your space: </h2>

<form action='/spaces' method='post'>
    <input type="text" name="space_name" placeholder="Name">
    <input type="text" name="space_description" placeholder="Description">
    <input type="text" name="space_price" placeholder="Price">
    <input type="text" name="space_available_from" placeholder="YYYY-MM-DD">
    <input type="text" name="space_available_to" placeholder="YYYY-MM-DD">
    <input class="button" type="submit" value="Submit" />
</form>
</body>
</html>
