<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgrey; font-family:verdana; text-align:center;}
h2 {padding:75px;}
h3 {padding:50px;}
.button {background-color:grey; border:none; color:white; padding:15px 32px; text-align:center; font-size:18}
input {padding:13px 40px; text-align:center; font-size:16;}
</style>
</head>
<body>
<h2> Please enter the details of your space: </h2>

<form action='/spaces' method='post'>
    <input type="text" name="space_name" placeholder="Name">
    <input type="text" name="space_description" placeholder="Description">
    <input type="text" name="space_price" placeholder="Price">
    <input type="text" name="space_available" placeholder="Available">
    <input type="submit" value="Submit" />
</form>

<h3> Your space is saved! </h3>
</body>
</html>
